<form>
  <div class="form-group">
    <label for="zip">Zip</label>
    {{input value=zip id="zip"}}
  </div>

  <button class="btn btn-primary" {{action 'zipLookup'}}>Submit</button>

  <div class="form-group">
    <label for="chamber">chamber</label>
    {{input value=chamber id="chamber"}}
  </div>
  <button class="btn btn-primary" {{action 'committeeLookup'}}>Submit</button>

  <div class="form-group">
    <label for="bill">Bills going to vote</label>
    {{input value=bill id="bill"}}
  </div>
  <button class="btn btn-primary" {{action 'billLookup'}}>Submit</button>
</form>
